body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 2em;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    color: black;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    width: 70%;
}

.modal-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-gap: .5em;
    border-top-left-radius: .3125em;
    border-top-right-radius: .3125em;
    padding: 0 .5em;
    color: black;
}

.modal-body {
    border-top: none;
    border-bottom-left-radius: .3125em;
    border-bottom-right-radius: .3125em;
    background-color: #fff;
    padding: .5em;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.modal-underlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(50,50,50,.5);
}
.close-modal {
    padding: 0;
    width: 2em;
}

table, th, td {
    border: 1px solid;
    color: black;
}
